<div class="column_left">
    <div class="header"><span>{$l10n->_('Servidores streaming')}</span></div>
    <br class="clear" />
    <div class="content">
<form action="{url action=update}" method="post" class="validate">
<h4>{$l10n->_('Editar Servidor')}</h4>
    <input type="hidden" name="idServer" value="{$post['id_server']}">
{include file='forms/StreamServer.tpl'}
<br/>
<p> 
<input type="submit" value="{$l10n->_('Guardar')}" />
<input type="button" value="{$l10n->_('Regresar')}" class="back" />
</p>    
</form>
	</div>
</div>