<div class="column_left">
    <div class="header"><span>{$l10n->_('Helix Server Protocolos')}</span></div>
    <br class="clear" />
    <div class="content">
<form action="{url action=update}" method="post" class="validate">
<h4>{$l10n->_('Guardar nuevo protocolo')}</h4>
{include file='forms/HelixProtocol.tpl'}
<br/>
<input type="hidden" name="idProtocol" value="{$post['id_protocol']}">
<p>
   <input type="submit" value="{$l10n->_('Guardar')}" />
   <input type="button" value="{$l10n->_('Regresar')}" class="back" />
</p>



</form>
	</div>
</div>