/*
 * SimpleModal Confirm Modal Dialog
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2008 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: confirm.css 162 2008-12-01 23:36:58Z emartin24 $
 *
 */

body {padding:0; margin:0; height:100%; width:100%;}

/* Overlay */
#confirmModalOverlay {background-color:#000; }

/* Container */
#confirmModalContainer {height:140px; width:420px; font-family:'Trebuchet MS', Verdana, Arial; font-size:16px; text-align:left; background:#fff; border:2px solid #336699;}
#confirmModalContainer .header {height:30px; width:100%; background:url(../images/template/confirm/header.gif) repeat-x; color:#fff; font-size:1.1em; font-weight:bold; line-height:30px;}
#confirmModalContainer .header span {padding-left:8px;}
#confirmModalContainer .message {color:#333; text-align:center; margin:0; padding:12px 4px; font-size:1em;}
#confirmModalContainer .buttons {width:160px; float:right; padding:10px 8px 0;} 
#confirmModalContainer .buttons div {float:right; margin-left:8px; width:70px; height:26px; color:#666; font-weight:bold; text-align:center; background:url(../images/template/confirm/button.gif) repeat-x; border:1px solid #bbb; cursor:pointer;} 
#confirmModalContainer a.modalCloseX,
#confirmModalContainer a.modalCloseX:link,
#confirmModalContainer a.modalCloseX:active,
#confirmModalContainer a.modalCloseX:visited {text-decoration:none; font-weight:bold; font-size:1.1em; position:absolute; top:-1px; left:400px; color:#ddd;}
#confirmModalContainer a.modalCloseX:hover {color:#9bb3b3;}


/* Overlay */
#dialogModalOverlay {background-color:#000; }

/* Container */
#dialogModalContainer {height:180px; width:440px; font-family:'Trebuchet MS', Verdana, Arial; font-size:16px; text-align:left; background:#fff; border:2px solid #336699;}
#dialogModalContainer .header {height:30px; width:100%; background:url(../images/template/confirm/header.gif) repeat-x; color:#fff; font-size:1.1em; font-weight:bold; line-height:30px;}
#dialogModalContainer .header span {padding-left:8px;}
#dialogModalContainer .message {color:#333; text-align:center; margin:0; padding:12px 4px; font-size:85%;}
#dialogModalContainer .buttons {width:160px; float:right; padding:10px 8px 0;} 
#dialogModalContainer .buttons div {float:right; margin-left:8px; width:70px; height:26px; color:#666; font-weight:bold; text-align:center; background:url(../images/template/confirm/button.gif) repeat-x; border:1px solid #bbb; cursor:pointer;} 
#dialogModalContainer a.modalCloseX,
#dialogModalContainer a.modalCloseX:link,
#dialogModalContainer a.modalCloseX:active,
#dialogModalContainer a.modalCloseX:visited {text-decoration:none; font-weight:bold; font-size:1.1em; position:absolute; top:-1px; left:400px; color:#ddd;}
#dialogModalContainer a.modalCloseX:hover {color:#9bb3b3;}


/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container a.modalCloseImg {background:url(../images/template/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-18px; cursor:pointer;}
#simplemodal-container #basicModalContent {padding:8px;}