<script type="text/javascript">
$(document).ready(function(){
	$('#download').click(function(){
		location.href=baseUrl + "/custome-theme/download";    	        
	});	
});	
</script>
<div class="onecolumn">
 <div class="header"><span>{$l10n->_('Plantilla completada')}</span></div>
 <br class="clear" />
 <div class="content">
  <div class="notice alert_info" id="loadresponse" style="display:none;"></div>
  <h3 align="center">Ha finalizado su plantilla exitosamente!...</h3>
<form action="#" class="validate" method="post">
<p> 
  <label>Url para publicar:</label><br/>
  {$urlTheme}
</p>
<br/>
<h4>Moderador de plantilla</h4>
<p>
 <label>Usuario:</label>
 {$userNameAdmin}
</p>
<p>
 <label>Password:</label>
  {$passAdmin}
</p>
<br/>


{if $flag==true}
<p> 
  <input type="button" id="download" value="Descargar accesos"/>
</p>
{/if}
</form>
</div>
</div>