<tr>
    <td>{$themePc->getIdThemePc()}</td>
    <td>{$themePc->getName()}</td>
    <td>{$themePc->getScreenShot()}</td>
    <td><a href="{url action=edit idThemePc=$themePc->getIdThemePc()}">{icon src=pencil class=tip title=$l10n->_('Edit')}</a></td>
    <td><a href="{url action=delete idThemePc=$themePc->getIdThemePc()}" class="confirm">{icon src=delete class=tip title=$l10n->_('Delete')}</a></td>
</tr>
