<tr>
    <td>{$flashLive->getIdLive()}</td>
    <td>{$flashLive->getName()}</td>
    <td>{$Servers[$flashLive->getIdServer()]}</td>
    <td><a href="{url action=edit idLive=$flashLive->getIdLive()}">{icon src=pencil class=tip title=$i18n->_('Edit')}</a></td>
    <td><a href="{url action=delete idLive=$flashLive->getIdLive()}" class="confirm">{icon src=delete class=tip title=$i18n->_('Delete')}</a></td>
</tr>
