<div class="column_left">
    <div class="header"><span>{$l10n->_('Puntos de montaje en vivo')}</span></div>
    <br class="clear" />
    <div class="content">
<form action="{url action=create}" method="post" class="validate ajaxForm">
<h4>{$l10n->_('Guardar nuevo punto de montaje')}</h4>
 {include file='forms/FlashLive.tpl'}
<br/>
<p> 
<input type="submit" value="{$l10n->_('Guardar')}" />
</p>
</form>
	</div>
</div>

<div class="column_right">
    <div class="header"><span>{$l10n->_('Listado de montajes en vivo')}</span></div>
    <br class="clear" />
    <div class="content">
<table  width="100%" cellspacing="0" cellpadding="0" class="data">
    <thead>
        <tr>
            <th>{$l10n->_('IdLive')}</th>
            <th>{$l10n->_('Name')}</th>
            <th>{$l10n->_('Server')}</th>
            <th colspan="2">{$l10n->_('Actions')}</th>
        </tr>
    </thead>
    <tbody id="ajaxList">
        {foreach $flashLives as $flashLive}
            <tr class="{$flashLive@iteration|odd}">
                <td>{$flashLive->getIdLive()}</td>
                <td>{$flashLive->getName()}</td>
                <td>{$Servers[$flashLive->getIdServer()]}</td>
                <td><a href="{url action=edit idLive=$flashLive->getIdLive()}">{icon src=pencil class=tip title=$l10n->_('Edit')}</a></td>
                <td><a href="{url action=delete idLive=$flashLive->getIdLive()}" class="confirm">{icon src=delete class=tip title=$l10n->_('Delete')}</a></td>
            </tr>
        {/foreach}
    </tbody>
</table>
	</div>
</div>
