.transparent .image_carousel, .transparent .list_carousel, .transparent .html_carousel, .transparent .wheel_of_fortune, .fold_horizontal {
   /* background: url("../../images/template/gallery/fold_horizontal.png") repeat-x scroll left bottom transparent;*/
}
.image_carousel {
	padding: 15px 0 15px 38px;
	position: relative;
}
.image_carousel img {
	border: 1px solid #ccc;
	background-color: white;
	padding: 9px;
	margin: 7px;
	display: block;
	float: left;
}
a.prev, a.next {
	background: url(../../images/template/gallery/miscellaneous_sprite.png) no-repeat transparent;
	width: 45px;
	height: 50px;
	display: block;
	position: absolute;
	top: 85px;
}
a.prev {			left: -22px;
					background-position: 0 0; }
a.prev:hover {		background-position: 0 -50px; }
a.next {			right: -22px;
					background-position: -50px 0; }
a.next:hover {		background-position: -50px -50px; }

a.prev span, a.next span {
	display: none;
}
.paginationG {
	text-align: center;
	padding-right:35px;
}
div.paginationG a {
    background: url("../../images/template/gallery/miscellaneous_sprite.png") no-repeat scroll 0 -300px transparent;
    display: inline-block;
    height: 15px;
    margin: 0 5px 0 0;
    width: 15px;
}
div.paginationG a.selected {
    background-position: -25px -300px;
    cursor: default;
}
.paginationG a span {
	display: none;
}
.clearfix {
	float: none;
	clear: both;
}
.transparent, .transparent_top, .transparent_bottom, .transparent_schoolboard {
    margin: 0 -10px;
    padding: 0 18px 0 10px;
}

.transparent {
    background: url("../../images/template/gallery/transparent_bg.png") repeat-y scroll 0 0 transparent;
}

.transparent_top.p1 {
    background-position: 0 -30px;
}

.transparent_top {
    height: 30px;
}

.transparent_top, .transparent_bottom {
    background: url("../../images/template/gallery/transparent_top_bottom.png") no-repeat scroll 0 0 transparent;
}

.transparent_bottom {
    background-position: 0 -90px;
    height: 10px;
}
.transparent p.view_scripts {
    margin: 0;
    padding: 10px 0 10px 25px;
    position: relative;
}

#contentGallery{
	padding:5px;
	margin:5px;
}
