/*************************** Light Stylesheet ***************************/

body {
background: #f9f9f9 url(../../images/template/theme/gray/page_bg_3.png) repeat-x;
color: #808080;
}

a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, #nav ul a:hover, #nav ul .current-menu-item a, #nav ul .current-menu-ancestor a, #nav ul .current-menu-item ul li a:hover, #nav ul .current-menu-ancestor ul li a:hover, #footer a:hover, #tabs-box .tab a:hover, #tabs-box .tab-active a, .widget a:hover, #recent-comments-widget a, .review-box-text a:hover, #comments-title span a:hover, .cancel-comment-reply a:hover {
color: #000000;
}

a:hover {
color: #808080;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
color: #000000;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
color: #808080;
}

.logo-default {
background: url(../../images/template/theme/gray/logo.png) no-repeat;
}

.blog-image, .post-button, .thumbnail, .tab-image, #review-page-image, #review-stats, #review-page-user-rating .ratingbutton, .review-list-image, #recent-comments-widget .avatar, .latest-members-widget img, .profile-avatar, .comment-avatar img, .comment-body, .aligncenter, .alignleft, .alignright, input, textarea, select, input[type="submit"], input[type="reset"], .widget .item-avatar img {
background: #f7f7f7 url(../../images/template/theme/gray/gradient.png) repeat-x;
border: 1px solid #d6d6d6;
}

input, textarea, select {
color: #808080;
}

input[type="submit"], input[type="reset"] {
color: #808080;
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
background: #d6d6d6;
}

hr {
border-top: 1px solid #d6d6d6;
}

.divider {
border-top: 1px solid #d6d6d6;
}

pre, code {
background: #ffffff;
border-top: 1px solid #d6d6d6;
border-bottom: 1px solid #d6d6d6;
}

table {
padding-bottom: 20px;
}

th {
background: #d6d6d6;
}

td {
border-top: 1px solid #d6d6d6;
}

fieldset {
border: 1px solid #d6d6d6;
}

#display_compact {
background: url(../../images/template/theme/gray/display_options.png) no-repeat left;
}

#display_extended {
background: url(../../images/template/theme/gray/display_options.png) no-repeat right;
}

#nav ul a, #nav ul .current-menu-item ul li a, #nav ul .current-menu-ancestor ul li a {
color: #808080;
}

#header-top {
background: url(../../images/template/theme/gray/header_top.png) no-repeat;
}

#header-bottom {
background: url(../../images/template/theme/gray/header_bottom.png) no-repeat;
}

#login span {
color: #d6d6d6;
}

#nav-left {
background: url(../../images/template/theme/gray/nav.png) no-repeat left top;
}

#nav ul, #nav ul ul{
background: url(../../images/template/theme/gray/nav.png) no-repeat right top;
}

#nav ul ul {
background: url(../../images/template/theme/gray/nav_dropdown.png) no-repeat bottom;
}

#nav ul li ul a:hover{
background: #d6d6d6;
}

#nav ul ul ul .nav-first {
border-top: 1px solid #d6d6d6;
}	

blockquote, .blockquote-right, .blockquote-left {
background: transparent url(../../images/template/theme/gray/bq.png) left top no-repeat;
}

h4.toggle {
background: url(../../images/template/theme/gray/toggle_down.png) no-repeat left 4px;
}

h4.toggle-active {
background: url(../../images/template/theme/gray/toggle_up.png) no-repeat left 4px;
}

#searchbar {
background: url(../../images/template/theme/gray/searchbar.png) no-repeat left top;
}

#searchbar:focus {
background: url(../../images/template/theme/gray/searchbar.png) no-repeat left bottom;
}

#searchsubmit {
float: left;
background: url(../../images/template/theme/gray/searchbar.png) no-repeat right top;
}

#searchsubmit:hover {
background: url(../../images/template/theme/gray/searchbar.png) no-repeat right bottom;
}

#slider {
border-left: 1px solid #eee;
border-right: 1px solid #eee;
}

#slider-top {
background: #d6d6d6;
}

.nivo-controlNav {
background-color: #ebebeb !important;
border-left: 1px solid #eee;
z-index:600;
position:absolute;
float: right;
margin-left: 630px !important;
}

.nivo-controlNav a {
background: #ebebeb url(../../images/template/theme/gray/slider_nav.png) repeat-x;
border-top: 1px solid #eee;
color: #cacaca;
}

.nivo-controlNav a:hover {
background: #ffffff;
}

.nivo-controlNav a.active {
background: #ffffff;
color: #808080;
}

.video-link {
color: #808080;
/*background: #ffffff;*/
}

.video-link:hover {
color: #FFFFFF;
}

#contact .loader {
background: url(../../images/template/theme/gray/loader.gif) no-repeat right center;
}

#review-list li {
border-bottom: 1px solid #d6d6d6;
}

#review-page-our-rating {
border-bottom: 1px solid #d6d6d6;
}

#review-page-user-rating .ratingmulti, #review-page-user-rating .ratingmulti table, #review-page-image .ratingmulti td, .gdmultitable {
background: #f7f7f7 !important;
color: #808080 !important;
}

#review-page-user-rating .ratingbutton {
color: #808080;
}

#review-page-user-rating .ratingbutton.gdactive, #review-page-user-rating .ratingbutton.gdactive a {
color: #808080;
background: #d6d6d6;
}

#tabs-box {
background: url(../../images/template/theme/gray/tabs_box.png) no-repeat bottom;
}

#tabs-box .tab a {
color: #808080;
}

.review-display {
background: url(../../images/template/theme/gray/review_box.png) no-repeat top;
}

.review-box-bottom {
background: url(../../images/template/theme/gray/review_box.png) no-repeat bottom;
}

.review-box-text {
color: #808080;
}
.review-box-text a {
color: #808080;
}

.profile-list .row {
border-bottom: 1px solid #d6d6d6;
}

#search-results {
border-bottom: 1px solid #d6d6d6;
}

.page-title {
border-bottom: 1px solid #d6d6d6;
}


.sidebar-home h3 {
background: url(../../images/template/theme/gray/widget_header_small.png) no-repeat;
}

.sidebar-other h3 {
background: url(../../images/template/theme/gray/widget_header_large.png) no-repeat;
}

.widget {
border-left: 1px solid #eee;
border-right: 1px solid #eee;
border-bottom: 1px solid #eee;
background: #fefefe url(../../images/template/theme/gray/widget_bg.png) no-repeat;
}

.widget a {
color: #808080;
}

#recent-comments-widget a {
color: #000000;
}
#recent-comments-widget a:hover {
color: #808080;
}

#footer {
background: url(../../images/template/theme/gray/footer.png);
color: #666;
}

#footer a {
color: #808080;
}

#top_arrow {
background: url(../../images/template/theme/gray/top_arrow.png) no-repeat;
}

#footer-widgets {
border-top: 1px solid #eee;
}

.post-button {
color: #808080;
}

.post-button:hover {
background: #d6d6d6;
}

.read-on {
color: #808080;
}

.gallery img {
border: 1px solid #d6d6d6 !important;
}

#comments-title {
background: url(../../images/template/theme/gray/comment_header.png) no-repeat;
}

#comments-title h3 {
color: #808080;
}

#comments-title span a {
color: #808080;
}

.comment-arrow {
background: url(../../images/template/theme/gray/comment_arrow.png) no-repeat;
}

#commentform {
border-top: 1px solid #d6d6d6;
}

#respond h3 {
color: #808080;
}

/* Page & Comments Navigation */
.wp-pagenavi {
padding: 20px 0 0 0;
float: right;
}
.wp-pagenavi span,
.wp-pagenavi a,
.wp-pagenavi.post-navi a span {
color: #808080;
border: 1px solid #c0c0c0;
background-color: #eee;
background-image: -moz-linear-gradient(top, #f7f7f7, #eee);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f7f7f7), to(#eee));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f7f7f7, endColorstr=#eeeeee);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#f7f7f7, endColorstr=#eeeeee)";
}
.wp-pagenavi .current,
.wp-pagenavi .page:hover,
.wp-pagenavi.post-navi span,
.wp-pagenavi.post-navi a span:hover {
color: #fff;
background-color: #808080;
background-image: -moz-linear-gradient(top, #c0c0c0, #808080);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c0c0c0), to(#808080));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#c0c0c0, endColorstr=#808080);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#c0c0c0, endColorstr=#808080)";
}

div.item-list-tabs  {
background: #f7f7f7;
}

div#subnav.item-list-tabs, div.item-list-tabs ul li.selected a, div.item-list-tabs ul li.current a, span.activity, div#message p, form#whats-new-form #whats-new-textarea, form#whats-new-form textarea, #container tr, .activity-list div.activity-meta a.acomment-reply, .activity-list div.activity-meta a {
background: #eaeaea !important;
}
div.activity-comments form .ac-textarea, div#user-pag.pagination, .friends div.pagination, .mygroups div.pagination, .myblogs div.pagination, noscript div.pagination {
background: #d6d6d6;
border: 0 !important;
}
div.item-list-tabs ul li.selected a, div.item-list-tabs ul li.current a, span.activity, div#message p, form#whats-new-form textarea, .activity-list div.activity-meta a.acomment-reply, .activity-list div.activity-meta a, div.activity-comments form textarea {
color: #808080 !important;
}
span.activity, div#message p, form#whats-new-form #whats-new-textarea, #container td, #container div, div.activity-comments form.ac-form, ul.item-list li, .activity-list div.activity-meta a.acomment-reply, .activity-list div.activity-meta a {
border-color: #ccc !important;
}
.button {
background: url(../../images/template/theme/gray/widget_header_large.png) no-repeat center center;
}
.button:hover, input[type="submit"]:hover, input[type="reset"]:hover {
background: #c0c0c0;
color: #ffffff;
}

ul li.loading a {
background-image: url(../../images/template/theme/gray/loader.gif) !important;
background-position: 92% 50% !important;
background-repeat: no-repeat !important;
}

.ajax-loader {
background: url(../../images/template/theme/gray/loader.gif) center left no-repeat !important;
}

a.loading {
background-image: url(../../images/template/theme/gray/loader.gif) !important;
background-position: 95% 50% !important;
background-repeat: no-repeat !important;
}

div.activity-comments form.loading {
background-image: url(../../images/template/theme/gray/loader.gif) !important;
background-position: 2% 95% !important;
background-repeat: no-repeat !important;
}

span.highlight a:hover {
color: #808080;
}

.activity-list li.load-more {
background: #f1f1f1 !important;
}
.activity-list li.load-more a {
color: #808080;
}

table tr td.label {
border-right: 1px solid #d6d6d6;
}

#container table tr.alt {
background: #f1f1f1;
}

div.messages-options-nav {
background: #f1f1f1;
}

div#message-thread div.message-box {
background: #f1f1f1 !important;
}

div.activity-comments > ul {
background: #f1f1f1;
}

div.pagination {
background: #eaeaea;
}
div.pagination#user-pag, .friends div.pagination,
.mygroups div.pagination, .myblogs div.pagination, noscript div.pagination {
background: #f1f1f1;
}
ul#topic-post-list li.alt {
background: #f1f1f1;
}

div.activity-comments form.ac-form {
background: #f1f1f1;
}
div.activity-comments form .ac-textarea {
border: 1px solid #d6d6d6 !important;
background: #fff !important;
}
div.activity-comments form textarea {
color: #808080;
background: #fff;
}
div.ac-reply-avatar img {
border: 2px solid #fff !important;
}

.activity-list .activity-content img.thumbnail {
border: 1px solid #d6d6d6;
}