<div class="column_left">
    <div class="header"><span>{$l10n->_('Perfiles de usuario')}</span></div>
    <br class="clear" />
    <div class="content">
<form action="{$baseUrl}/access-role/update" method="post" class="validate">
<h4>{$l10n->_('Editar Grupo de Usuario')}</h4>
<p> 
<label>{$l10n->_('Nombre')}</label><br/>
<input type="text" id="name" name="name" class="required" value="{$accessRole->getName()}" size="40"/>
<input type="hidden" name="id" value="{$accessRole->getIdAccessRole()}">
</p>
<br/>
<p> 
<input type="submit" value="{$l10n->_('Guardar')}" />
<input type="button" value="{$l10n->_('Regresar')}" class="back" />
</p>
</form>
	</div>
</div>