.redi2 {
	/*
    height: 483px !important;
    width: 220px !important;
    margin-left: 657px !important;*/
}
.redi3 {
	/*
    height: 480px !important;
    width: 333px !important;
    margin-left: 618px !important;*/
}