/*

@author zetta
LICENCE

I also love to hear of my work being used, feel encouraged to send an email with a link or screenshot of the design to zetaweb at gmail dot com. 
This work is licensed under a Creative Commons Attribution 2.5 License. This means you may use it for any purpose, and make any changes you like. 
All I ask is that you include a link back to this page in your credits (although a giant link on every page of your website really isn't needed, contact me to discuss specifics). 

Silk icons by FAMFAMFAM (http://www.famfamfam.com/lab/icons/silk/)

           
*/

@CHARSET "iso-8859-1";

@import "modal.css";

/*
@import "main.css";
@import "navigation.css";
@import "etc.css";
@import "forms.css";
@import "ui.core.css";
@import "ui.theme.css";
@import "ui.tabs.css";
@import "ui.datepicker.css";
@import "jquery.autocomplete.css";
@import "tooltip.css";
@import "layout.css";
@import "tables.css";
@import "960.css";
@import "superfish.css";
@import "tablesorter.css";
*/

#loadDisplay{
	min-height: 250px;
}

div.ok{
	cursor: pointer;
    background-image:url(../images/template/icons/accept.png);
    background-repeat:no-repeat;
    background-position:5px 8px;
    padding:10px 5px 10px 25px;
    border:1px solid #9CCE8A;
    background-color:#D6EFD1;
    margin: 8px auto;
	width: 80%;
	color: #126300;
}

div.error{
    background-image:url(../images/template/icons/exclamation.png);
    background-repeat:no-repeat;
    background-position:5px 8px;
    padding:10px 5px 10px 25px;
    border:1px solid #AA0000;
	background-color: #ee9999;
    cursor: pointer;
    margin: 8px auto;
	width: 80%;
	color:#990303;
}

div.warning{
    background-image:url(../images/template/icons/warning.png);
    background-repeat:no-repeat;
    background-position:5px 8px;
    padding:10px 5px 10px 25px;
    border:1px solid #ca650b;
    background-color: #f4cb86;
    cursor: pointer;
    margin: 8px auto;
    width: 80%;
}

div.notice{
    background-image:url(../images/template/icons/information.png);
    background-repeat:no-repeat;
    background-position:5px 8px;
    padding:10px 5px 10px 25px;
    border:1px solid #2839a1;
    background-color: #cddef6;
    cursor: pointer;
    margin: 8px auto;
    width: 80%;
}

div.note{
    background-color: #f8f2c9;
    background-image:url(../images/template/icons/note.png);
    background-repeat:no-repeat;
    background-position:5px 8px;
    padding:10px 5px 10px 25px;
    border:1px solid #ffcc00;
    margin: 8px auto;
	cursor: pointer;
	width: 80%;
	overflow: auto;
	font-size: 10px;
}

div.code{
  background-color: #FFF;
  background-image:url(../images/template/icons/application.png);
  background-repeat:no-repeat;
  background-position:5px 8px;
  padding:10px 5px 10px 25px;
  border:1px solid #f8f2c9;
  margin: 8px auto;
	width: 80%;
	overflow: auto;
  font-family: 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Monaco, Courier, monospace;
  white-space: pre;
  line-height: 1.4em;
  border: 1px dashed #aaa8a8;
  font-size: 10px;
  color: #666;
}

div.error p, div.warning p, div.ok p, div.note p, div.notice p, div.alert p {
	margin:0px;
	padding: 0px;	
}

#baseUrl{
	padding-top:5px;
}
.oneColumn{
	float:left;
	width:100%;
}
#mediaspace{
	float:left;
}
#gifContent{
	padding-top:50%;
}

#gifContent img{
	width:220px;
	height:19px;
	opacity:1;
	filter:alpha(opacity=100);
	float:none;
	padding:0px;
}
.panelChat{
	background-color:#FFFFFF;
	height:100%;
}
.panelSearch{
	background-color:#FFFFFF;
	height:100%;
}
.chatText{
	height:90%;
}

.requestSearch{
	height:90%;
}
.formChat{
	padding-left:6px;
}
.formSearch{
	padding-left:6px;
	padding-top: 5px;
}

#contentShare{
	float:left;
    background-color: #FFF;
    border: 1px solid #8E8E8E;
    z-index: 900;
    width: 300px;
    height: 60px;
    position: absolute;
    margin-top: 5px;
}
.icon-right{
	float: right;
}
.linkStream{
	color: #FFFFFF; 
	float: left; 	
	padding-top: 5px;
}
.linkStream:hover{
	text-decoration: underline;
}

#social-icons span{
	color: #FFFFFF;
}
.shareH{
	font-size: smaller;
	padding-top:7px;
	padding-left:7px;
}
.miniBanner{
/*margin-left: 6%;*/
margin-top: 228px;
z-index:200;
position: absolute;
float:left;
}
.bannerImage{
	opacity:1 !important;
	width:347px !important;
	height:108px !important;
	padding:0 !important;
    padding-top: 8px !important;	
}
.ppt{
	float:left;
	min-width:57px;
	min-height:22px;
	background-image:url(../images/template/theme/ppt-blue.png) !important;
    background-repeat:no-repeat;	
	padding:0px !important;
	border:none !important;
	margin-right:10px;
	cursor:pointer;
}
.ppt:hover{
	margin-top:0px !important;
	background-image:url(../images/template/theme/ppt-black.png) !important;
    background-repeat:no-repeat;
}
.live-stream{
	float:left;
	min-width:57px;
	min-height:22px;
	background:url(../images/template/theme/live-green.png) !important;
    background-repeat:no-repeat;	
	padding:0px !important;
	border:none !important;
	margin-right:10px;
	cursor:pointer;
}
.live-stream:hover{
	margin-top:0px !important;
	background:url(../images/template/theme/live-black.png) !important;
    background-repeat:no-repeat;
}
.vod-stream{
	float:left;
	min-width:57px;
	min-height:22px;
	background:url(../images/template/theme/vod-orange.png) !important;
    background-repeat:no-repeat;	
	padding:0px !important;
	border:none !important;
	margin-right:10px;
	cursor:pointer;
}
.vod-stream:hover{
	margin-top:0px !important;
	background:url(../images/template/theme/vod-black.png) !important;
    background-repeat:no-repeat;
}
.letterEm{
	font-style: italic;
	font-weight: bold;
}
.previewStream{
	/*min-height: 228px;*/
	cursor: pointer;
}
.block{
	height: 16px !important;
	width: 16px !important;
	background:#FFFFFF url(../images/template/icons/block.png) !important;
    background-repeat:no-repeat  !important;
    margin: 0 !important;
    padding: 0 !important;
    padding-right: 2px !important;
    
}
.previewStream .nav a{
    background: none repeat scroll 0 0 #EEEEEE !important;
    height: 7px;
    padding: 5px;
    width: 10px;
	color: #000000;
}
.slider-thumb-caption{
	display:block !important;
}
.ppt2jpg{
	width:345px !important;
	height:344px !important;
	opacity:1 !important;
	filter:alpha(opacity=100) !important;
}
.zoom{
float: right !important;
width: auto !important;
height: auto !important;	
color: #ffffff;
position: absolute;
display: block;
top: 316px;
right: 5px;
background: none !important;
border:none !important;
padding: 5px;
font-weight: bold;
cursor:pointer;
}
.zoom:hover {
color: #218df3;
}
.redi2 {
    height: 483px !important;
    width: 220px !important;
    margin-left: 757px !important;
}
.redi3 {
    height: 483px !important;
    width: 333px !important;
    margin-left: 644px !important;
}
#pptSyncDiv{
	display:block;
	z-index:800;
	overflow:auto;
	 height: 483px !important;
}
#pptClientDiv{
	display:block;
	z-index:800;
	overflow:auto;
	height: 483px !important;
}
.namePpt{
	cursor:pointer;
}
.columleft{
	float:left !important;
	width:550px !important;
}
.columright{
	float: right !important;
	width:410px !important;
}
.error {
    color: #FF0000;
    font-weight: bold;
    padding-left: 8px;
}
.close{
	z-index:100;
	position:absolute;
	top:2px;
	
}
.closeHelp{
	z-index:100;
	position:absolute;
	top:2px;
	right:2px;
}
.help{
	/*
	z-index:100;
	position:absolute;	
	margin-left: 43px;*/
	top:2px;
}
.linkHelp{
	/*
    z-index: 56; 
	position: absolute; 
	top:1px; 
	margin-left: 31%;*/
}
.contentHelp{
    z-index: 1000; 
	position: fixed; 
	margin-top:9%; 
	margin-left: 28%;
	width:555px;
	min-height:240px;
	background-color:#eeeeee;
	border:#c5c5c5 solid 1px;
	text-align:left;
	padding:10px;
}
.aHelp{
	float: left;
    font-size: 12px;
    font-weight: bold;   
}
.volver{
	float:left;
	min-width:57px;
	min-height:22px;
	background:url(../images/template/theme/volver.png) !important;
    background-repeat:no-repeat;	
	padding:0px !important;
	border:none !important;
	margin-right:10px;
	cursor:pointer;
}
.volver:hover{
	margin-top:0px !important;
	background:url(../images/template/theme/volver-black.png) !important;
    background-repeat:no-repeat;
}
.streamButtons{
    float: left;
    margin-left: 634px !important;
    position: absolute !important;
    width: 140px !important;
    z-index: 80 !important;
    top: 8px;
}
