			        <div class="miniBanner"><img src="{$baseUrl}/files/banners/miniBanners/{$bannerMini}" class="bannerImage"/></div>
  
  <link rel="stylesheet" type="text/css" href="{$baseUrl}/plugins/chatXsnMini/history/history.css" />
		        <script type="text/javascript" src="{$baseUrl}/plugins/chatXsnMini/history/history.js"></script>
		        <!-- END Browser History required section -->  
				    
		        <script type="text/javascript" src="{$baseUrl}/plugins/chatXsnMini/swfobject.js"></script>
			    <script type="text/javascript">
			            <!-- For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection. --> 
			            var swfVersionStr = "10.0.45";
			            <!-- To use express install, set to playerProductInstall.swf, otherwise the empty string. -->
			            var xiSwfUrlStr = "{$baseUrl}/plugins/chatXsnMini/playerProductInstall.swf";
			            var flashvars = {};
			            var params = {};
			            params.wmode="transparent";
			            params.quality = "high";
			            params.bgcolor = "#ffffff";
			            params.allowscriptaccess = "sameDomain";
			            params.allowfullscreen = "true";
			            var attributes = {};
			            attributes.id = "chatXsnMini";
			            attributes.name = "chatXsnMini";
			            attributes.align = "middle";
			            swfobject.embedSWF(
			                "{$baseUrl}/plugins/chatXsnMini/{$colorTheme}/Main.swf", "chatContent", 
			                "347", "235", 
			                swfVersionStr, xiSwfUrlStr, 
			                flashvars, params, attributes);
						<!-- JavaScript enabled so display the flashContent div in case it is not replaced with a swf object. -->
						swfobject.createCSS("#chatContent", "display:block;text-align:left;");
			        </script>        
			        <div id="chatContent" style="display: none;">

			        </div> 					        