<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=APP_ID&amp;amp;xfbml=1"></script><fb:live-stream event_app_id="http://www.xsn.com.mx" width="347" height="346" always_post_to_friends="false"></fb:live-stream>