<script type="text/javascript">

$(document).ready(function () {
/*
$('#contentThumbnails').pager('.videoDiv', {
	  navId: 'pager'
	});
*/
})

</script>
<style>
.videoDiv{
	overflow: auto;
    width: 347px; height: 234px;
}
</style>
<div class="miniBanner"><img src="{$baseUrl}/files/banners/miniBanners/{$bannerMini}" class="bannerImage"/></div>	

<div class="previewStream">
<div id="contentThumbnails" class="videoDiv" >
{assign var="indicador" value=0}
{foreach $streamVod as $item}


				<a class="nivo-control" alt="0" style=" width: 310px !important;"
				{if $item->getPptSync()>0}
				onclick="loadVideoPpt({$item->getIdVod()});"
				{else}
				onclick="loadVideo2('vod','{$item->getPrefix()}','{$item->getNameVideo()}','{$serverStreaming[$item->getIdServer()]}');"
				{/if}				
				>
					<img src="http://72.233.92.50:8081/images/galleryVod/vod{$item->getNameVideo()}.jpg" alt="">
					<div class="slider-thumb-caption" style=" width: 220px !important;">
					<strong>{$item->getTitleVideo()}</strong>
					<p>
					  {$item->getDescriptionVideo()}
					</p>
					</div>
				</a>		
{foreachelse}
<center style="padding-top:5px;"><span >No hay contenido para mostrar</span></center>
{/foreach}
</div>
</div>
