<div {if $rolUser=="Administrador" && $customTheme->getTypeGallery()==2}
  class="redi2"
{else}
  {if $customTheme->getTypeGallery()==2}
     class="redi3"
  {/if}   
{/if} 
>
	{if $customTheme->getTypeGallery()==1}
	
		{assign var="indicador" value=0}
		<div class="previewStream">
		{foreach $streamLive as $item}
		{if $indicador<=2}
		     {if $company->getIdCompany()==52 || $company->getIdCompany()==55}
				<a class="nivo-control" alt="0" onclick="loadVideo('rtmplive','{$item->getName()}');">
			 {else}
				<a class="nivo-control" alt="0" onclick="loadVideo('live','{$item->getName()}');">			 
			 {/if} 	
					<img src="{$baseUrl}/files/galleryLive/live.png" alt="">
					<div class="slider-thumb-caption">
					<strong>{$item->getTitle()}</strong>
					<p>
					  {$item->getDescription()}
					</p>
					</div>
				</a>
		{$indicador=$indicador+1}
		{/if}
		{foreachelse}
		<center style="padding-top:5px;"><span >No hay contenido para mostrar</span></center>	
		{/foreach}
		</div>
		<div class="miniBanner"><img src="{$baseUrl}/files/banners/miniBanners/{$bannerMini}" class="bannerImage"/></div>		
	{/if}
	{if $customTheme->getTypeGallery()==2 & !is_null($ppts)}	
		 <!-- { html_entity_decode( $ppt->getName() ) } -->
		 <!-- {$rolUser} -->
		    {assign var="indicadorX" value=0}
		 	{foreach $streamLive as $item}
				{if $indicadorX==0}
					<input type="hidden" id="idStr" value="{$item->getIdStream()}"></input>
					{$indicadorX=$indicadorX+1}
				{/if}
			{/foreach}
		 {if $rolUser=="Administrador"}
		    <div class="previewStream">
		    {foreach $ppts as $ppt}
					<a class="nivo-control" alt="0" onclick="">
						<img src="{$baseUrl}/files/galleryLive/ppt.png" alt="">
						<div class="slider-thumb-caption">
						<strong>{$ppt->getTitle()}</strong>
						<p class="namePpt" id="namePpt-{$ppt->getIdPpt()}-{$ppt2jpg[$ppt->getIdPpt()]}">
						  {$ppt->getName()}
						</p>
						</div>
					</a>	    
		    {foreachelse}
		     <center style="padding-top:5px;"><span >No hay presentaciones para mostrar</span></center>
		    {/foreach}
			</div>
		 {else}
		 <!-- 
          {foreach $ppts as $ppt}
          {html_entity_decode($ppt->getCode())}		
		    {foreachelse}
		     <center style="padding-top:5px;"><span >No hay presentaciones para mostrar</span></center>
		    {/foreach}     
          -->
				{assign var="indicador" value=0}
				{assign var="tituloEvt" value=""}
				{assign var="descriEvt" value=""}
					<div id="loadVideoPlayer">
					{foreach $streamLive as $item}
					{if $indicador==0}
					{$tituloEvt=$item->getTitle()}
					{$descriEvt=$item->getDescription()}
					<input type="hidden" id="idStr" value="{$item->getIdStream()}"></input>
					<script type='text/javascript' src='{$baseUrl}/js/swfobject.js'></script>
					<div id="mediaspace"  style="padding-bottom: 20px;"></div>
					<script type='text/javascript'>
										var so = new SWFObject('{$baseUrl}/files/player.swf','ply','333','244','9');
											so.addParam('allowfullscreen','false');
											so.addParam('allowscriptaccess','always');
											so.addParam('wmode','opaque');
											so.addVariable('file','{$item->getName()}');
											//so.addVariable('file','970');
											//so.addVariable('streamer','rtmp://{$ipServer}/live/');
											so.addVariable('streamer','rtmp://{$server}/live/');
											so.addVariable("autostart","false");
											so.write('mediaspace');
					
					</script>
					{$indicador=$indicador+1}
					{/if}
					{/foreach}
					</div>	
					<br/>
					<br/>
					<!-- 
					<p>
					<label style="padding-left:5px;font-weight: bold;">Fecha:</label>{}
					</p>
					-->     		
					<p>
					<label style="padding-left:5px;font-weight: bold;">Titulo:</label>{$tituloEvt}
					</p>
					<p>
					<label style="padding-left:5px;font-weight: bold;">Descripci&oacute;n:</label>{$descriEvt}
					</p>
		 {/if}   
	{/if}						
</div>
