<!--  <script type="text/javascript" src="{$baseUrl}/js/modules/ajax-event/script.js"></script> -->
<div class="panelSearch">

<form class="formSearch">
<input type="text"  style="width: 76%;" id="nameVideo" value="Buscar video..." class="letterEm clearOnFocus">
<input type="button" value="Buscar" id="findButton"> 
</form>
<div class="requestSearch" id="loadScript">

</div>
</div>