<!-- 
<script type="text/javascript" src="{$baseUrl}/js/plugins/twitter/jquery.juitter.js"></script>
<script type="text/javascript" src="{$baseUrl}/js/plugins/twitter/system.js"></script>
<div id="juitterContainer"></div>
 -->
<iframe src="{$baseUrl}/files/twettProfile.html" height="346" width="347" scrolling="no"></iframe>
