<tr>
    <th>{$i18n->_('id_banner')}</th>
    <td># {$post['id_banner']}<input type="hidden" name="id_banner" id="id_banner" value="{$post['id_banner']}" /></td>
</tr>
<tr>
    <th>{$i18n->_('name')}</th>
    <td><input type="text" name="name" id="name" value="{$post['name']}" class=" required" /></td>
</tr>

<!--
$idBanner = $this->getRequest()->getParam('id_banner');
$name = $this->getRequest()->getParam('name');
-->

<!--
$post = array(
    'id_banner' => $bannerMini->getIdBanner(),
    'name' => $bannerMini->getName(),
);
-->
