<tr>
    <th>{$i18n->_('id_email')}</th>
    <td># {$post['id_email']}<input type="hidden" name="id_email" id="id_email" value="{$post['id_email']}" /></td>
</tr>
<tr>
    <th>{$i18n->_('email')}</th>
    <td><input type="text" name="email" id="email" value="{$post['email']}" class=" required" /></td>
</tr>

<!--
$idEmail = $this->getRequest()->getParam('id_email');
$email = $this->getRequest()->getParam('email');
-->

<!--
$post = array(
    'id_email' => $email->getIdEmail(),
    'email' => $email->getEmail(),
);
-->
