<tr>
    <th>{$i18n->_('id_suscriber')}</th>
    <td># {$post['id_suscriber']}<input type="hidden" name="id_suscriber" id="id_suscriber" value="{$post['id_suscriber']}" /></td>
</tr>
<tr>
    <th>{$i18n->_('id_live_stat')}</th>
    <td>{html_options name=id_live_stat id=id_live_stat options=$LiveStats selected=$post['id_live_stat'] }</td>
</tr>
<tr>
    <th>{$i18n->_('client')}</th>
    <td><input type="text" name="client" id="client" value="{$post['client']}" class="" /></td>
</tr>
<tr>
    <th>{$i18n->_('suscribe_time')}</th>
    <td><input type="text" name="suscribe_time" id="suscribe_time" value="{$post['suscribe_time']}" class="" /></td>
</tr>

<!--
$idSuscriber = $this->getRequest()->getParam('id_suscriber');
$client = $this->getRequest()->getParam('client');
$suscribeTime = $this->getRequest()->getParam('suscribe_time');
$idLiveStat = $this->getRequest()->getParam('id_live_stat');
-->

<!--
$post = array(
    'id_suscriber' => $flashSuscriber->getIdSuscriber(),
    'client' => $flashSuscriber->getClient(),
    'suscribe_time' => $flashSuscriber->getSuscribeTime(),
    'id_live_stat' => $flashSuscriber->getIdLiveStat(),
);
-->
