<p>
    <label>{$l10n->_('id_instance')}</label><br/>
    # {$post['id_instance']}<input type="hidden" name="id_instance" id="id_instance" value="{$post['id_instance']}" />
</p>
<p>
    <label>{$l10n->_('id_server')}</label><br/>
    {html_options name=id_server id=id_server options=$Servers selected=$post['id_server']}
</p>
<p>
    <label>{$l10n->_('name')}</label><br/>
    <input type="text" name="name" id="name" value="{$post['name']}" class="" size="40%" />
</p>

<!--
$idInstance = $this->getRequest()->getParam('id_instance');
$name = $this->getRequest()->getParam('name');
$idServer = $this->getRequest()->getParam('id_server');
-->

<!--
$post = array(
    'id_instance' => $flashInstance->getIdInstance(),
    'name' => $flashInstance->getName(),
    'id_server' => $flashInstance->getIdServer(),
);
-->
