<tr>
    <th>{$i18n->_('id_app')}</th>
    <td># {$post['id_app']}<input type="hidden" name="id_app" id="id_app" value="{$post['id_app']}" /></td>
</tr>
<tr>
    <th>{$i18n->_('id_server')}</th>
    <td>{html_options name=id_server id=id_server options=$Servers selected=$post['id_server'] }</td>
</tr>
<tr>
    <th>{$i18n->_('name')}</th>
    <td><input type="text" name="name" id="name" value="{$post['name']}" class=" required" /></td>
</tr>

<!--
$idApp = $this->getRequest()->getParam('id_app');
$name = $this->getRequest()->getParam('name');
$idServer = $this->getRequest()->getParam('id_server');
-->

<!--
$post = array(
    'id_app' => $flashApp->getIdApp(),
    'name' => $flashApp->getName(),
    'id_server' => $flashApp->getIdServer(),
);
-->
