<p>
    <label>{$l10n->_('id_live')}</label>
    # {$post['id_live']}<input type="hidden" name="id_live" id="id_live" value="{$post['id_live']}" />
</p>
<br/>
<p>
    <label>{$l10n->_('id_server')}</label><br/>
    {html_options name=id_server id=id_server options=$servers selected=$post['id_server']}
</p>
<br/>
<p>
    <label>{$l10n->_('name')}</label><br/>
    <input type="text" name="name" id="name" value="{$post['name']}" class=" required" />
</p>

<!--
$idLive = $this->getRequest()->getParam('id_live');
$name = $this->getRequest()->getParam('name');
$idServer = $this->getRequest()->getParam('id_server');
-->

<!--
$post = array(
    'id_live' => $helixLive->getIdLive(),
    'name' => $helixLive->getName(),
    'id_server' => $helixLive->getIdServer(),
);
-->
