<p>
    <label>{$l10n->_('Id:')}</label>
    # {$post['id_protocol']}<input type="hidden" name="id_protocol" id="id_protocol" value="{$post['id_protocol']}" />
</p>
<br/>
<p>
    <label>{$l10n->_('Nombre:')}</label><br/>
    <input type="text" name="name" id="name" value="{$post['name']}" class=" required" />
</p>

<!--
$idProtocol = $this->getRequest()->getParam('id_protocol');
$name = $this->getRequest()->getParam('name');
-->

<!--
$post = array(
    'id_protocol' => $helixProtocol->getIdProtocol(),
    'name' => $helixProtocol->getName(),
);
-->
