<p>
    <label>{$l10n->_('Id:')}</label>
    # {$post['id_type']}<input type="hidden" name="id_type" id="id_type" value="{$post['id_type']}" />
</p>
<br/>
<p>
    <label>{$l10n->_('Nombre:')}</label><br/>
    <input type="text" name="name" id="name" value="{$post['name']}" class=" required" />
</p>
<!--
$idType = $this->getRequest()->getParam('id_type');
$name = $this->getRequest()->getParam('name');
$position = $this->getRequest()->getParam('position');
-->

<!--
$post = array(
    'id_type' => $helixTypesId->getIdType(),
    'name' => $helixTypesId->getName(),
    'position' => $helixTypesId->getPosition(),
);
-->
