<tr>
    <th>{$i18n->_('id_logo')}</th>
    <td># {$post['id_logo']}<input type="hidden" name="id_logo" id="id_logo" value="{$post['id_logo']}" /></td>
</tr>
<tr>
    <th>{$i18n->_('name')}</th>
    <td><input type="text" name="name" id="name" value="{$post['name']}" class=" required" /></td>
</tr>

<!--
$idLogo = $this->getRequest()->getParam('id_logo');
$name = $this->getRequest()->getParam('name');
-->

<!--
$post = array(
    'id_logo' => $logo->getIdLogo(),
    'name' => $logo->getName(),
);
-->
