<tr>
    <th>{$i18n->_('id_ppt')}</th>
    <td># {$post['id_ppt']}<input type="hidden" name="id_ppt" id="id_ppt" value="{$post['id_ppt']}" /></td>
</tr>
<tr>
    <th>{$i18n->_('name')}</th>
    <td><input type="text" name="name" id="name" value="{$post['name']}" class=" required" /></td>
</tr>
<tr>
    <th>{$i18n->_('code')}</th>
    <td><textarea name="code" id="code" class=" required">{$post['code']}</textarea></td>
</tr>

<!--
$idPpt = $this->getRequest()->getParam('id_ppt');
$name = $this->getRequest()->getParam('name');
$code = $this->getRequest()->getParam('code');
-->

<!--
$post = array(
    'id_ppt' => $ppt->getIdPpt(),
    'name' => $ppt->getName(),
    'code' => $ppt->getCode(),
);
-->
