<tr>
    <th>{$i18n->_('id_jpg')}</th>
    <td># {$post['id_jpg']}<input type="hidden" name="id_jpg" id="id_jpg" value="{$post['id_jpg']}" /></td>
</tr>
<tr>
    <th>{$i18n->_('id_ppt')}</th>
    <td>{html_options name=id_ppt id=id_ppt options=$Ppts selected=$post['id_ppt'] }</td>
</tr>
<tr>
    <th>{$i18n->_('name')}</th>
    <td><input type="text" name="name" id="name" value="{$post['name']}" class=" required" /></td>
</tr>

<!--
$idJpg = $this->getRequest()->getParam('id_jpg');
$name = $this->getRequest()->getParam('name');
$idPpt = $this->getRequest()->getParam('id_ppt');
-->

<!--
$post = array(
    'id_jpg' => $pptJpg->getIdJpg(),
    'name' => $pptJpg->getName(),
    'id_ppt' => $pptJpg->getIdPpt(),
);
-->
