<p>
    <label>{$l10n->_('Id')}:</label><br/>
    # {$post['id_server']}<input type="hidden" name="id_server" id="id_server" value="{$post['id_server']}" />
</p>
<p>
    <label>{$l10n->_('Tipo de servidor')}:</label><br/>
    {html_options name=id_server_type id=id_server_type options=$ServerTypes selected=$post['id_server_type']}
</p>
<p>
    <label>{$l10n->_('Ip')}:</label><br/>
    <input type="text" name="url" id="url" value="{$post['url']}" class=" required" />
</p>
<p>
    <label>{$l10n->_('Estado')}:</label><br/>
    {html_options name=status id=status options=$status selected=$post['status']}
    
</p>

<!--
$idServer = $this->getRequest()->getParam('id_server');
$url = $this->getRequest()->getParam('url');
$status = $this->getRequest()->getParam('status');
$idServerType = $this->getRequest()->getParam('id_server_type');
-->

<!--
$post = array(
    'id_server' => $streamServer->getIdServer(),
    'url' => $streamServer->getUrl(),
    'status' => $streamServer->getStatus(),
    'id_server_type' => $streamServer->getIdServerType(),
);
-->
