<p>
    <label>{$l10n->_('Id Servidor:')}</label><br/>
    # {$post['id_server']}<input type="hidden" name="id_server" id="id_server" value="{$post['id_server']}" />
</p>
<p>
    <label>{$l10n->_('Nombre:')}</label><br/>
    <input type="text" name="name" id="name" value="{$post['name']}" class=" required" />
</p>
<p>
    <label>{$l10n->_('Status:')}</label><br/>
    {html_options name=status id=status options=$status selected=$post['status']}
</p>

<!--
$idServer = $this->getRequest()->getParam('id_server');
$name = $this->getRequest()->getParam('name');
$status = $this->getRequest()->getParam('status');
-->

<!--
$post = array(
    'id_server' => $typeServer->getIdServer(),
    'name' => $typeServer->getName(),
    'status' => $typeServer->getStatus(),
);
-->
