/*

@author zetta
LICENCE

I also love to hear of my work being used, feel encouraged to send an email with a link or screenshot of the design to zetaweb at gmail dot com. 
This work is licensed under a Creative Commons Attribution 2.5 License. This means you may use it for any purpose, and make any changes you like. 
All I ask is that you include a link back to this page in your credits (although a giant link on every page of your website really isn't needed, contact me to discuss specifics). 

Silk icons by FAMFAMFAM (http://www.famfamfam.com/lab/icons/silk/)

           
*/

@CHARSET "iso-8859-1";

@import "modal.css";
@import "datepicker.css";
@import "tooltip.css";


/*
@import "main.css";
@import "navigation.css";
@import "etc.css";

@import "forms.css";
@import "ui.core.css";
@import "ui.theme.css";
@import "ui.tabs.css";
@import "ui.datepicker.css";
@import "jquery.autocomplete.css";

@import "layout.css";
@import "tables.css";
@import "960.css";
@import "superfish.css";
@import "tablesorter.css";
*/


.error{
	color:#ff0000;
	/*float:left;*/
}

#contentPcTheme{
	width: 850px;
}
#contentMobileTheme{
	width: 328px;
}
.confPro{
	padding-left:22px;
	display: none;
}
