ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #CCCCCC;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
	background: #EBEBEB;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
}
ul.tabs li a:hover {
	background: #DADADA;
}
ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}

#tabDiv{
	height:100%;
}
 
#tabDiv .tab_container {
	border: 1px solid #CCCCCC !important;
	border-top: none !important;
	overflow: hidden !important;
	clear: both !important;
	float: left !important; 
	width: 100% !important;
	background: #fff !important;
	margin-bottom: 15px;
}
#tabDiv .tab_content {
	padding: 20px !important;
	font-size: 1.2em !important;
}