#tooltip {
	position: absolute;
	z-index: 3000;
	border:	1px solid #BFC6CF;
	background-color: #EEE;
	color: #000;
	margin: 5px;
	padding: 7px;
	opacity: 0.90;
	filter: alpha(opacity=70);
	font-family: Arial, Helvetica, sans-serif;
}
#tooltip h3, #tooltip div { 
	margin: 0; 
	font-size: 90%;
}
