<script type="text/javascript" src="{$baseUrl}/js/plugins/dygraph-combined.js"></script>
<link rel="stylesheet" href="{$baseUrl}/css/tab.css" type="text/css" />
<script type="text/javascript">
$(document).ready( function()
{
	var dateStart="{$dateStart}";
	var dateEnd="{$dateEnd}";
	var initHour="{$initHour}";
	var finishHour="{$finishHour}";
	var idStream={$stream->getIdStream()};
	var groupBy ={$groupBy};
		
	$('#download').click(function(){	
		//var opciones="toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=yes, width=508, height=365, top=85, left=140";
		//window.open(baseUrl + "/report/download","",opciones);	 

		location.href=baseUrl + "/report/download-helix-stat/dateStart/"+dateStart+"/dateEnd/"+dateEnd+"/initHour/"+initHour+"/finishHour/"+finishHour+"/idStream/"+idStream+"/groupBy/"+groupBy;
		
	});


	$(".tab_content").hide();
	$("ul.tabs li:first").addClass("active").show();
	$(".tab_content:first").show();

	$("ul.tabs li").click(function()
       {
		$("ul.tabs li").removeClass("active");
		$(this).addClass("active");
		$(".tab_content").hide();

		var activeTab = $(this).find("a").attr("href");
		$(activeTab).fadeIn();
		return false;
	});	
});

</script>
<div class="onecolumn">
 <div class="header"><span>{$l10n->_('Helix hist&oacute;rico live streaming')}</span></div>
 <br class="clear" />
 <div class="content">
<form action="#" class="validate" method="post">
<p>
<label>Del: </label>{$date_initial}
<label> al: </label>{$date_final}
</p>
<br/><br/>
<p>
  <label>Streaming: </label>{$stream->getName()}
</p>
<br/>
<div id="tabDiv">
<ul class="tabs">
    <li><a href="#tab1">Gr&aacute;fica de datos</a></li>
    <li><a href="#tab2">Info. plataforma</a></li>
</ul>

<div class="tab_container">
    <div id="tab1" class="tab_content">
        <!--Content-->
		<label>Tiempo promedio de visualización:</label><span> {$promedioo} Seg.</span>
		<br/>
		<br/>
		    <p><b>Series visibles:</b></p>
		
		    <p>
		      <input type=checkbox id="0" checked onClick="change(this)">
		      <label for="0">Concurrentes</label><br/>
		      <input type=checkbox id="1" checked onClick="change(this)">
		      <label for="1">Usuarios nuevos</label><br/>
		      <input type=checkbox id="2" checked onClick="change(this)">
		      <label for="2">Peticiones</label><br/>      
		    </p>
		<br/>
		<br/>
		{if $flagData==true}
		<div id="graphdiv" style="600px; height: 300px;"><img src="{$baseUrl}/images/template/basic/bar-loader.gif" /></div>
		<br/>
		<div id="labelGraph" style="margin-left:35px;"></div>
		<div id="loadInfo"></div>
		<script type="text/javascript">
		
		
		  g = new Dygraph(
		
		    // containing div
		    document.getElementById("graphdiv"),
		
		    // CSV or path to a CSV file.
		    "{$baseUrl}/report/process-table-helix/dateStart/{$dateStart}/dateEnd/{$dateEnd}/initHour/{$initHour}/finishHour/{$finishHour}/idStream/{$stream->getIdStream()}/groupBy/{$groupBy}",
			{
		        fillGraph: true,
		    	visibility: [true, true, true, true] ,
		    	{if $groupBy==1}
		        labels: [ "Date",  "Concurrentes","Usuarios nuevos", "Hits" ],
		        {else}
		    	labels: [ "Date",  "Concurrentes" ],
		    	{/if}
		        labelsDiv: document.getElementById("labelGraph"),  
		        labelsSeparateLines: true     
		        //labelsDivWidth: 300
		   
		    }
		
		
		  );
		
		  function change(el) {
		      g.setVisibility(parseInt(el.id), el.checked);
		    }
		  
		</script>
		{else}
		<center><h4>No se encontraron resultados para mostrar...</h4></center> 
		{/if}	
			<br/>        
    </div>
    <div id="tab2" class="tab_content">
    <style>
	dl {
	  margin:0; 
	  padding:0 0 2px 0; 
	  width:401px; 
	  height:auto; 
	  background:#fff;
	  }
	
	dt {
	  text-align:center; 
	  font-size:1.5em; 
	  border-bottom:3px solid #fff;
	  }
	
	dd {
	  margin:0; 
	  display:block; 
	  width:400px; 
	  height:2em; 
	  background:#3D444C; 
	  border-bottom:1px solid #fff;
	  }
	
	dd b {
	  float:right;
	  display:block; 
	  margin-left:auto; 
	  background:#EBEBEB; 
	  height:2em; 
	  line-height:2em; 
	  text-align:right;
	  }
	  
	.labelProtocol{
		float: right;
		position: absolute;
		text-align: right;
		width: 400px;
		z-index: 100;	
		height: 2em; 
	    margin-top: 4px; 
	    color: #777B7F;  
    }
    </style>
    
       <!--Content-->
       <h3>Detalle de Protocolo</h3>
           
      
       {assign var=percentRtmp value="."|explode:(round(100-((int)$rtmp*100)/$sumaProtocol))}
       {assign var=percentRtsp value="."|explode:(round(100-((int)$rtsp*100)/$sumaProtocol))}
       {assign var=percentHttp value="."|explode:(round(100-((int)$http*100)/$sumaProtocol))} 
                 
         <dl><dd><b style="width: {if (int)$rtmp==0}100%{else}{if (int)$percentRtmp[0]==0}100%{else}{if (int)$percentRtmp[0]==100}0%{else}{(int)$percentRtmp[0]}%{/if}{/if}{/if};"></b><span class="labelProtocol">RTMP={100-(int)$percentRtmp[0]}%</span></dd></dl>
         <dl><dd><b style="width: {if (int)$rtsp==0}100%{else}{if (int)$percentRtsp[0]==0}100%{else}{if (int)$percentRtsp[0]==100}0%{else}{(int)$percentRtsp[0]}%{/if}{/if}{/if};"></b><span class="labelProtocol">RSTP={100-(int)$percentRtsp[0]}%</span></dd></dl>                
         <dl><dd><b style="width: {if (int)$http==0}100%{else}{if (int)$percentHttp[0]==0}100%{else}{if (int)$percentHttp[0]==100}0%{else}{(int)$percentHttp[0]}%{/if}{/if}{/if};"></b><span class="labelProtocol">HTTP={100-(int)$percentHttp[0]}%</span></dd></dl>                
       <br/>
       <h3>Detalle de plataforma</h3>
		 <table width="100%" cellspacing="0" cellpadding="0" class="data">
		    <tbody>
		    <tr>
		            <th>
						<p style="width: 150px;">
						<img src="{$baseUrl}/images/template/theme/win.png" title="Windows" /><label style="float: right; margin-top:30px;">Windows: {$windows}</label>
						</p>		            
		            </th>
		            <td>
						<p style="width: 150px;">
						<img src="{$baseUrl}/images/template/theme/blackberry.png" title="BlackBerry" /><label style="float: right; margin-top:30px;">BlackBerry: {$bb}</label>
						</p>		            
		            </td>
		    </tr>
		    <tr>          
		            <th>
						<p style="width: 150px;">
						<img src="{$baseUrl}/images/template/theme/android.png" title="Android" /><label style="float: right; margin-top:30px;">Android: {$android}</label>
						</p>		            
		            </th>
      
		            <td>
						<p style="width: 150px;">
						<img src="{$baseUrl}/images/template/theme/iphone.png" title="Iphone" /><label style="float: right; margin-top:30px;">Iphone: {$iphone}</label>
						</p>		            
		            </td>
		    </tr>
		    <tr>        
		            <th>
						<p style="width: 150px;">
						<img src="{$baseUrl}/images/template/theme/ipod.png" title="Ipod" /><label style="float: right; margin-top:30px;">Ipod: {$ipod}</label>
						</p>		            
		            </th>
		            <td>
						<p style="width: 150px;">
						<img src="{$baseUrl}/images/template/theme/ipad.png" title="Ipad" /><label style="float: right; margin-top:28px;">Ipad: {$ipad}</label>
						</p>		            
		            </td>
		    </tr>
		    <tr>        
		            <th>
				        <p style="width: 150px;">
						<img src="{$baseUrl}/images/template/theme/other.png" title="Otros" /><label style="float: right; margin-top:30px;">Otros: {$other}</label>
						</p>   		            
		            </th>
		            <td></td>
		     </tr>       
		    </tbody>
		</table>
 
    </div>
</div>
</div>

<br/>
<br/>
<p>        
   <input type="button" value="Descargar excel" id="download">
   <input type="button" value="{$l10n->_('Regresar')}" class="back" />       
</p>
</form>
</div>
</div>
<div>
</div>
