<script type="text/javascript" src="{$baseUrl}/js/plugins/swfobject.js"></script>

   <center>
	<div id="flashcontent">
		<strong>You need to upgrade your Flash Player</strong>
	</div>
	
	<script type="text/javascript">
		// <![CDATA[		
		var so = new SWFObject("{$baseUrl}/settings/worldmap/world.swf", "ammap", "700", "500", "8", "#FFFFFF");
		so.addVariable("path", "{$baseUrl}/settings/");
		so.addVariable("data_file", encodeURIComponent("{$baseUrl}/settings/worldmap/data.xml"));
		so.write("flashcontent");
		// ]]>
	</script>
	</center>	