<h1 class="center">500 Internal Server Error</h1>
<hr/>
<div class="error alert_error"><strong>{$type}</strong><p>{$message}</p></div>
<div class="note">{$trace}</div>
<div class="code"><strong>{$file} ({$line})</strong><div class="source">{$source}</div></div>


