<div class="column_left">
    <div class="header"><span>{$l10n->_('Instancias en vivo')}</span></div>
    <br class="clear" />
    <div class="content">
<form action="{url action=update}" method="post" class="validate">
    <input type="hidden" name="idInstance" value="{$post['id_instance']}">
<h4>{$l10n->_('Editar Instancia')}</h4>    
        {include file='forms/FlashInstance.tpl'}
<br/>        
<p> 
<input type="submit" value="{$l10n->_('Guardar')}" />
<input type="button" value="{$l10n->_('Regresar')}" class="back" />
</p>    
</form>
	</div>
</div>