_row.tpl

<tr>
    <td>{$bannerFull->getIdBanner()}</td>
    <td>{$bannerFull->getName()}</td>
    <td><a href="{url action=edit idBanner=$bannerFull->getIdBanner()}">{icon src=pencil class=tip title=$i18n->_('Edit')}</a></td>
    <td><a href="{url action=delete idBanner=$bannerFull->getIdBanner()}" class="confirm">{icon src=delete class=tip title=$i18n->_('Delete')}</a></td>
</tr>
