<tr>
    <td>{$flashInstance->getIdInstance()}</td>
    <td>{$flashInstance->getName()}</td>
    <td>{$Servers[$flashInstance->getIdServer()]}</td>
    <td><a href="{url action=edit idInstance=$flashInstance->getIdInstance()}">{icon src=pencil class=tip title=$i18n->_('Edit')}</a></td>
    <td><a href="{url action=delete idInstance=$flashInstance->getIdInstance()}" class="confirm">{icon src=delete class=tip title=$i18n->_('Delete')}</a></td>
</tr>
