<tr>
    <th>{$i18n->_('id_company')}</th>
    <td># {$post['id_company']}<input type="hidden" name="id_company" id="id_company" value="{$post['id_company']}" /></td>
</tr>
<tr>
    <th>{$i18n->_('name_company')}</th>
    <td><input type="text" name="name_company" id="name_company" value="{$post['name_company']}" class=" required" /></td>
</tr>
<tr>
    <th>{$i18n->_('name_contac')}</th>
    <td><input type="text" name="name_contac" id="name_contac" value="{$post['name_contac']}" class="" /></td>
</tr>
<tr>
    <th>{$i18n->_('telephone')}</th>
    <td><input type="text" name="telephone" id="telephone" value="{$post['telephone']}" class="" /></td>
</tr>
<tr>
    <th>{$i18n->_('status')}</th>
    <td><input type="text" name="status" id="status" value="{$post['status']}" class="number required" /></td>
</tr>

<!--
$idCompany = $this->getRequest()->getParam('id_company');
$nameCompany = $this->getRequest()->getParam('name_company');
$nameContac = $this->getRequest()->getParam('name_contac');
$telephone = $this->getRequest()->getParam('telephone');
$status = $this->getRequest()->getParam('status');
-->

<!--
$post = array(
    'id_company' => $company->getIdCompany(),
    'name_company' => $company->getNameCompany(),
    'name_contac' => $company->getNameContac(),
    'telephone' => $company->getTelephone(),
    'status' => $company->getStatus(),
);
-->
