<tr>
    <th>{$i18n->_('id_presentation')}</th>
    <td># {$post['id_presentation']}<input type="hidden" name="id_presentation" id="id_presentation" value="{$post['id_presentation']}" /></td>
</tr>
<tr>
    <th>{$i18n->_('name')}</th>
    <td><input type="text" name="name" id="name" value="{$post['name']}" class=" required" /></td>
</tr>
<tr>
    <th>{$i18n->_('status')}</th>
    <td><input type="text" name="status" id="status" value="{$post['status']}" class="number" /></td>
</tr>

<!--
$idPresentation = $this->getRequest()->getParam('id_presentation');
$name = $this->getRequest()->getParam('name');
$status = $this->getRequest()->getParam('status');
-->

<!--
$post = array(
    'id_presentation' => $presentation->getIdPresentation(),
    'name' => $presentation->getName(),
    'status' => $presentation->getStatus(),
);
-->
