<tr>
    <th>{$i18n->_('id_viewer')}</th>
    <td># {$post['id_viewer']}<input type="hidden" name="id_viewer" id="id_viewer" value="{$post['id_viewer']}" /></td>
</tr>
<tr>
    <th>{$i18n->_('name')}</th>
    <td><input type="text" name="name" id="name" value="{$post['name']}" class=" required" /></td>
</tr>

<!--
$idViewer = $this->getRequest()->getParam('id_viewer');
$name = $this->getRequest()->getParam('name');
-->

<!--
$post = array(
    'id_viewer' => $viewer->getIdViewer(),
    'name' => $viewer->getName(),
);
-->
