<script type="text/javascript" src="{$baseUrl}/js/modules/auth/login.js"></script>
<div id="loginFormContainer">
	{if $errorMessage}
		<div class="error">{$errorMessage}</div>
	{/if}
	<form action="{$baseUrl}/auth/login" method="post" id="loginForm">
	<br/>
	<h6 align="center">{$l10n->_('Acceso a streaming')}</h6>
		<table style="padding-bottom: 0px;">
			<tfoot>
				<tr>
					<td colspan="2" align="center"><center><input type="submit" value="{$l10n->_('Seleccionar')}"/></center></td>
				</tr>
			</tfoot>
			<tbody>
			<!-- 
				<tr>
					<td><label for="username">{$l10n->_('Usuario')}:</label></td>
					<td><input type="text" name="username" id="username" value="{$post.username}"/></td>
				</tr>
				<tr>
					<td><label for="password">{$l10n->_('Contraseņa')}:</label></td>
					<td><input type="password" name="password" id="password" value=""/></td>
				</tr>-->
				<tr>
				    <td><label for="password">{$l10n->_('Nombre')}:</label></td>
				    <td>
				        {html_options name=streaming id=streaming options=$companys}
				        <input type="hidden" name="username" value="demo" />
				        <input type="hidden" name="password" value="123" />
				    </td>
				</tr>
			</tbody>
		</table>
	</form>
</div>