<script type='text/javascript' src='{$baseUrl}/js/swfobject.js'></script>
        <div id='mediaspace'></div>
    <script type='text/javascript'>
					var so = new SWFObject('{$baseUrl}/files/player.swf','ply','488','280','9','#');
						so.addParam('allowfullscreen','true');
						so.addParam('allowscriptaccess','always');
						so.addParam('wmode','opaque');
						so.addVariable('file','{$stream}');
						so.addVariable('streamer','rtmp://{$ipServer}/live/');
						so.addVariable("autostart","true");
						so.write('mediaspace');

				</script>