{foreach $flashVods as $flashVod}
<tr>
    <td>{$flashVod->getIdVod()}</td>
    <td>{$flashVod->getPrefix()}</td>
    <td>{$flashVod->getNameVideo()}</td>
    <!-- <td>{$flashVod->getTitleVideo()}</td>
    <td>{$flashVod->getDescriptionVideo()}</td>-->
    <td>{$servers[$flashVod->getIdServer()]}</td>
    <td colspan="2"><a href="{url action=edit idVod=$flashVod->getIdVod()}">{icon src=pencil class=tip title=$l10n->_('Edit')}</a></td>
    <!-- <td><a href="{url action=delete idVod=$flashVod->getIdVod()}" class="confirm">{icon src=delete class=tip title=$l10n->_('Delete')}</a></td> -->
</tr>
{/foreach}