_row.tpl

<tr>
    <td>{$bannerMini->getIdBanner()}</td>
    <td>{$bannerMini->getName()}</td>
    <td><a href="{url action=edit idBanner=$bannerMini->getIdBanner()}">{icon src=pencil class=tip title=$i18n->_('Edit')}</a></td>
    <td><a href="{url action=delete idBanner=$bannerMini->getIdBanner()}" class="confirm">{icon src=delete class=tip title=$i18n->_('Delete')}</a></td>
</tr>
