<tr>
    <td>{$themeMobile->getIdThemeMobile()}</td>
    <td>{$themeMobile->getName()}</td>
    <td>{$themeMobile->getScreenShot()}</td>
    <td><a href="{url action=edit idThemeMobile=$themeMobile->getIdThemeMobile()}">{icon src=pencil class=tip title=$l10n->_('Edit')}</a></td>
    <td><a href="{url action=delete idThemeMobile=$themeMobile->getIdThemeMobile()}" class="confirm">{icon src=delete class=tip title=$l10n->_('Delete')}</a></td>
</tr>
