<div class="column_left">
    <div class="header"><span>{$l10n->_('Temas movil')}</span></div>
    <br class="clear" />
    <div class="content">
<form action="{url action=update}" method="post" class="validate">
<input type="hidden" name="idThemeMobile" value="{$post['id_theme_mobile']}">
<h4>{$l10n->_('Editar tema movil')}</h4>
{include file='forms/ThemeMobile.tpl'}
<br/>
<p> 
   <input type="submit" value="{$l10n->_('Guardar')}" />
   <input type="button" value="{$l10n->_('Regresar')}" class="back" />
</p>
</form>
	</div>
</div>