<script type="text/javascript" src="{$baseUrl}/js/jquery/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{$baseUrl}/js/modules/layout/script.js"></script>
<script type="text/javascript">
<!--
var baseUrl = "{$baseUrl}"; 	
//-->
</script>
<input type="hidden" name="idStr" id="idStr" value="{$idStream}" />
<div id="getPptAutoFull"></div>	