<p>
    <label>{$l10n->_('id_custome_theme')}</label>
    # {$post['id_custome_theme']}<input type="hidden" name="id_custome_theme" id="id_custome_theme" value="{$post['id_custome_theme']}" />
</p>
<br/>
<p>
    <label>{$l10n->_('id_company')}</label><br/>
    {html_options name=id_company id=id_company options=$Companys selected=$post['id_company']}
</p>
<br/>
<p>
    <label>{$l10n->_('color_theme')}</label><br/>
    <input type="text" name="color_theme" id="color_theme" value="{$post['color_theme']}" class="number" />
</p>
<br/>
<p>
    <label>{$l10n->_('type_gallery')}</label><br/>
    <input type="text" name="type_gallery" id="type_gallery" value="{$post['type_gallery']}" class="number" />
</p>
<br/>
<p>
    <label>{$l10n->_('type_login')}</label><br/>
    <input type="text" name="type_login" id="type_login" value="{$post['type_login']}" class="number" />
</p>
<br/>
<p>
    <label>{$l10n->_('buttons')}</label><br/>
    <input type="text" name="buttons" id="buttons" value="{$post['buttons']}" class="" />
</p>
<br/>
<p>
    <label>{$l10n->_('status')}</label><br/>
    <input type="text" name="status" id="status" value="{$post['status']}" class="number required" />
</p>

<!--
$idCustomeTheme = $this->getRequest()->getParam('id_custome_theme');
$colorTheme = $this->getRequest()->getParam('color_theme');
$typeGallery = $this->getRequest()->getParam('type_gallery');
$typeLogin = $this->getRequest()->getParam('type_login');
$buttons = $this->getRequest()->getParam('buttons');
$status = $this->getRequest()->getParam('status');
$idCompany = $this->getRequest()->getParam('id_company');
-->

<!--
$post = array(
    'id_custome_theme' => $customeTheme->getIdCustomeTheme(),
    'color_theme' => $customeTheme->getColorTheme(),
    'type_gallery' => $customeTheme->getTypeGallery(),
    'type_login' => $customeTheme->getTypeLogin(),
    'buttons' => $customeTheme->getButtons(),
    'status' => $customeTheme->getStatus(),
    'id_company' => $customeTheme->getIdCompany(),
);
-->
