<tr>
    <th>{$i18n->_('id_ipviewer')}</th>
    <td># {$post['id_ipviewer']}<input type="hidden" name="id_ipviewer" id="id_ipviewer" value="{$post['id_ipviewer']}" /></td>
</tr>
<tr>
    <th>{$i18n->_('ipviewer')}</th>
    <td><input type="text" name="ipviewer" id="ipviewer" value="{$post['ipviewer']}" class=" required" /></td>
</tr>

<!--
$idIpviewer = $this->getRequest()->getParam('id_ipviewer');
$ipviewer = $this->getRequest()->getParam('ipviewer');
-->

<!--
$post = array(
    'id_ipviewer' => $ipviewer->getIdIpviewer(),
    'ipviewer' => $ipviewer->getIpviewer(),
);
-->
