<p>
    <label>{$l10n->_('Id:')}</label>
    # {$post['id_theme_mobile']}<input type="hidden" name="id_theme_mobile" id="id_theme_mobile" value="{$post['id_theme_mobile']}" />
</p>
<p>
    <label>{$l10n->_('Nombre:')}</label><br/>
    <input type="text" name="name" id="name" value="{$post['name']}" class=" required" />
</p>
<p>
    <label>{$l10n->_('Screen shot:')}</label><br/>
    <input type="text" name="screen_shot" id="screen_shot" value="{$post['screen_shot']}" class=" required" />
</p>

<!--
$idThemeMobile = $this->getRequest()->getParam('id_theme_mobile');
$name = $this->getRequest()->getParam('name');
$screenShot = $this->getRequest()->getParam('screen_shot');
-->

<!--
$post = array(
    'id_theme_mobile' => $themeMobile->getIdThemeMobile(),
    'name' => $themeMobile->getName(),
    'screen_shot' => $themeMobile->getScreenShot(),
);
-->
