<p>
    <label>{$l10n->_('Id:')}</label>
    # {$post['id_theme_pc']}<input type="hidden" name="id_theme_pc" id="id_theme_pc" value="{$post['id_theme_pc']}" />
</p>
<p>
    <label>{$l10n->_('Nombre:')}</label><br/>
    <input type="text" name="name" id="name" value="{$post['name']}" class=" required" />
</p>
<p>
    <label>{$l10n->_('Screen shot:')}</label><br/>
    <input type="text" name="screen_shot" id="screen_shot" value="{$post['screen_shot']}" class=" required" />
</p>

<!--
$idThemePc = $this->getRequest()->getParam('id_theme_pc');
$name = $this->getRequest()->getParam('name');
$screenShot = $this->getRequest()->getParam('screen_shot');
-->

<!--
$post = array(
    'id_theme_pc' => $themePc->getIdThemePc(),
    'name' => $themePc->getName(),
    'screen_shot' => $themePc->getScreenShot(),
);
-->
