<tr>
    <th>{$i18n->_('id_viewer')}</th>
    <td># {$post['id_viewer']}<input type="hidden" name="id_viewer" id="id_viewer" value="{$post['id_viewer']}" /></td>
</tr>
<tr>
    <th>{$i18n->_('id_usertemp')}</th>
    <td>{html_options name=id_usertemp id=id_usertemp options=$Usertemps selected=$post['id_usertemp'] }</td>
</tr>
<tr>
    <th>{$i18n->_('name')}</th>
    <td><input type="text" name="name" id="name" value="{$post['name']}" class=" required" /></td>
</tr>
<tr>
    <th>{$i18n->_('timestamp')}</th>
    <td><input type="text" name="timestamp" id="timestamp" value="{$post['timestamp']}" class="datePicker dateISO required" /></td>
</tr>

<!--
$idViewer = $this->getRequest()->getParam('id_viewer');
$name = $this->getRequest()->getParam('name');
$timestamp = $this->getRequest()->getParam('timestamp');
$idUsertemp = $this->getRequest()->getParam('id_usertemp');
-->

<!--
$post = array(
    'id_viewer' => $viewers->getIdViewer(),
    'name' => $viewers->getName(),
    'timestamp' => $viewers->getTimestamp(),
    'id_usertemp' => $viewers->getIdUsertemp(),
);
-->
