<tr>
    <td>{$company->getIdCompany()}</td>
    <td>{$company->getNameCompany()}</td>
    <td>{$company->getNameContac()}</td>
    <td>{$company->getTelephone()}</td>
    <!-- <td>{$status[$company->getStatus()]}</td> -->
    <td><a href="{url action=edit idCompany=$company->getIdCompany()}">{icon src=pencil class=tip title=$l10n->_('Edit')}</a></td>
    <!-- <td><a href="{url action=delete idCompany=$company->getIdCompany()}" class="confirm">{icon src=delete class=tip title=$l10n->_('Delete')}</a></td> -->
    <td><a href="{url action=rel idCompany=$company->getIdCompany()}">{icon src=add class=tip title=$l10n->_('Add')}</a></td>
</tr>
