<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<body bgcolor="white">
<div align="center" style="margin-top:0px;padding-top:0px;color:black;width:100%;height:450px">
<table  > 
<tr>
<td >
<font color="red"><b>Mensaje del Sistema</b></font>&nbsp&nbsp&nbsp
<img src="../Alert-Icon-.png" height="42" width="42">
</td>
</tr>
<tr>
<td>
Esta contraseņa ya ha sido utilizada  , favor de contactar a su proveedor.
<a href="http://plantilla.xsn.com.mx/auth/logout">Aceptar</a>
</td>
<tr>
</table>
</div>
</body>
</html>