<div class="column_left">
    <div class="header"><span>{$l10n->_('Helix Server Puntos de Montaje')}</span></div>
    <br class="clear" />
    <div class="content">
<form action="{url action=update}" method="post" class="validate">
<h4>{$l10n->_('Editar punto de montaje')}</h4>
<input type="hidden" name="idLive" value="{$post['id_live']}">
{include file='forms/helixLive.tpl'}
<br/>
<p>
  <input type="submit" value="{$l10n->_('Guardar')}" />
  <input type="button" value="{$l10n->_('Regresar')}" class="back" />
</p>            
</form>
	</div>
</div>